* { box-sizing: border-box; }

html { font-size: 62.4%; }

body { background-color: #fff8f6; }

header {
  background-color: #B7D7BB;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#header-upper {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#logo {
  width: 200px;
  margin-left: auto;
}

h1#client-name {
  font-size: 3.6rem;
  color: #cc6d4d;
  text-align: left;
  flex: 1;
}

.navbar a,
.navbar-list a {
  text-decoration: none;
  color: #cc6d4d;
  margin: 0px;
  font-size: 18px;
  display: inline-block;
  padding: 5px;
}

.navbar a:hover,
.navbar-list a:hover {
  /* Change the background color on hover */
  background-color: #eba27a;
  color: #fff;
}

.navbar {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  height: 50px;
  width: 50px;
}

nav i {
  font-size: 30px;
  color: #cc6d4d;
}

.navbar-list {  
  display: none;
  list-style: none;  
}

.navbar-list li {
  display: inline;
}


.navbar-list-mobile {
  list-style: none;
  display: none;
  position: absolute;
  margin: 0;
  padding: 20px;
  background-color: #f1f1f1;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  top: 45px;
  left: -140px;
}
.navbar:hover .navbar-list-mobile {
  display: block;
}

@media all and (min-width: 800px) {
  header {
    flex-direction: row;
  }

  .navbar-list {
    display: inline-block;
  }

  .navbar {
    display: none;
  }

  .perk-box {
    flex-direction: row;
  }

  .categories {
    display: grid;
    grid-template-columns: auto auto;
    flex-direction: row;
  }

  .categories div {
    width: 75%;
  }
}


.shop-here-section {
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.shop-here-section h2 {
  font-size: 2.4rem;
}

.perk {
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  margin: 2px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  vertical-align: top;
  width: 90%;
}

.perk-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perk h3 {
  font-size: 1.8rem;
}

.perk p {
  font-size: 1.6rem;
}
  

.category-section {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.category-section h2 {
  font-size: 2.4rem;
}

.categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.categories div {
  width: calc(50% - 10px);
  margin: 5px auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6rem;
}

footer {
  background-color: #f7f7f7;
  /* Add a gray background color */
}

.newsletter-section {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
}

.left-half {
  width: 100%;
  text-align: center;
}

.left-half h2 {
  font-size: 1.8rem;
}

.right-half {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-half a {
  margin: 0px 10px;
  text-decoration: none;
}

.right-half img {
  width: 30px;
}

input[type="submit"],
input[type="reset"],
button {
  background-color: #eba27a;
  color: #fff;
  padding: 10px;
  /* Smaller padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 25%;
  /* Narrow the button */
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
  background-color: #cc6d4d;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial;
  color: #333;
}