* {
    box-sizing: border-box;
}

#fullmenu {
    display: none;
}

/*change this min width to 480 after done and erase this message*/
@media all and (min-width:700px) {
    #fullmenu {
        display: block;
    }
    #shoppingcart {
        display: none;
    }

    #hamburgermenu{
        display: none;
    }
}

#hamburgermenuicon {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin: 0px auto;
}



/*temporary, remove this line when fixed
try display none and remove visibility and position later*/
#hamburgermenu #hamburgermenulinks {
    visibility: hidden;
    position: absolute;
    list-style-type: none;
}

#hamburgermenu:hover #hamburgermenulinks {
    visibility: visible;
    display: block;
}

#shoppingcart {
    opacity: 50%;
    color: rgb(61, 84, 216);
    width: 25px;
}

#shoppingcart:hover {
    opacity: 100%;
}

header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.justifyCenter {
    justify-content: center;
}

#headerLogo {
    width: 25px;
}

#headerbuttons {
    display: flex;
    
}

#mainPromo1 {
    flex-grow: 1;
    max-width: 100%;
    height: auto;
}

.bannerPromo {
    height: 100px;
    overflow: hidden;
}

