* {
    box-sizing: border-box;
}

#fullmenu {
    display: none;
}

@media all and (min-width:480px) {
    #fullmenu {
        display: contents;
    }
}

header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.justifyCenter {
    justify-content: center;
}

#headerLogo {
    width: 25px;
}

.headerbuttons {
    display: flex;
    
}

#mainPromo1 {
    flex-grow: 1;
    max-width: 100%;
    height: auto;
}

.bannerPromo {
    height: 100px;
    overflow: hidden;
}