* {
    box-sizing: border-box;
}

#fullmenu {
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#webtitle {
    display: flex;
    justify-content: center;
    margin: auto auto 5px;
}
#logosearch {
    display: flex;
}

#headerlogo {
    margin-right: 10px;
    width: 25px
}

#searchbar {
    width: 300px;
    display: flex;
    align-items: center;
}
#searchbar input{
    width: 280px;
}

/*change this min width to 480 after done and erase this message*/
@media all and (min-width:700px) {
    #fullmenu {
        display: block;
    }
    #shoppingcart {
        display: none;
    }

    #hamburgermenu{
        display: none;
    }
}

#hamburgermenuicon {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin: 0px auto;
    
}

#hamburgermenu #hamburgermenulinks {
    visibility: hidden;
    position: absolute;
    right: 0px;
    list-style-type: none;
    width: 100px;
    justify-content: right;
    flex-direction: column;
    height: 55px;
    background-color: white;
    padding: 10px;
    font-size: 14px;
    right: 8px;
    top: 35px;
    border: black solid 1px;
}

#hamburgermenu #hamburgermenuicon button{
    border: none;
    background-color: white;
    font-size: 16px;
    padding: auto 2px;
}

#hamburgermenulinks a {
    text-decoration: none;
}

#hamburgermenu:hover #hamburgermenulinks {
    visibility: visible;
}

#shoppingcart {
    opacity: 50%;
    color: rgb(61, 84, 216);
    width: 25px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 3px;
}

#shoppingcart:hover {
    opacity: 100%;
}


.justifyCenter {
    justify-content: center;
}

#headerbuttons {
    display: flex;
    
}

#mainPromo1 {
    flex-grow: 1;
    max-width: 100%;
    height: auto;
}

.bannerPromo {
    height: 100px;
    overflow: hidden;
}

