html {
    height: 100%;
    width: 100%;
    font-size: 62.4%;
}

body {
    background-color: #fff8f6;
}

* {
    box-sizing: border-box;
}

#fullmenu ul {
    list-style-type: none;
    background-color: yellow;
    padding-left: 0px;
}

#fullmenu ul li {
    display: inline;
}

#fullmenu ul li a {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
}

#fullmenu ul li a:hover {
    background-color: gray;
    color: blue;
}

#hours {
    width: 275px;
    border: 1px solid black;
}

#hours th, #hours td {
    border: 1px solid black;
}

fieldset legend {
    font-weight: bold;
    font-size: 20px;
}


#item2, #item4 {
    color: gray;
}

#item4 {
    text-decoration: underline;
}


#p1::first-letter {
    font-size: 75px;
    line-height: 60px;
    float: left;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

main, aside {
    padding: 10px;
    border: 5px;
}

main {
    background: #fdffc2;
}

aside {
    background-color: #74776b;
}

section {
    display: flex;
    flex-direction: column;
    
}

@media all and (min-width: 667px) {
    section {
        flex-direction: row;
    }

    main {
        width: 70%;
    }

    aside {
        width: 30%
    }
}

#fullmenu {
    display: none;
}

#burgermenu {
    position: relative;
    display: block;
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

#burgermenu #burgermenulinks {
    visibility: hidden;
    position: absolute;
    list-style-type: none;
    text-align: center;
    padding: 25px 10px;
    width: 150px;
    color: #171717;
    background-color: #9e9e9e;
}

#burgermenu:hover #burgermenulinks {
    visibility: visible;
    display: block;
    margin: 0 auto;
    left: -61px;
}

@media all and (min-width: 700px) {
    #fullmenu {
        display: block;
    }
    #burgermenu {
        display: none;
    }
}